PDLsite.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Ken Brooks (Publishing Dimensions) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Ken Brooks (private) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ENTITY % anchors "a">
<!ENTITY % OEBEntities PUBLIC "+//ISBN 0-9673008-1-9//DTD OEB 1.0 Entities//EN" "oeb1.ent">
%OEBEntities;
<!-- Common attributes used by most elements
  id:       ID unique to the entire document.
  class:    List of classes.
-->
<!ENTITY % commonAtts "id     ID    #IMPLIED
        class   CDATA   #IMPLIED
        xref  IDREF #IMPLIED">
<!ENTITY % lists "bulletList | orderedList | unOrderedList">
<!ENTITY % textElements "#PCDATA | subscript | superscript | bold | italic | smallCaps | underline |  xrefURL | xrefInternal | projectList">
<!ENTITY % imageAtts 'id ID #IMPLIED
	src CDATA #REQUIRED
	alt CDATA #IMPLIED
	width CDATA #IMPLIED
	height CDATA #IMPLIED
	align (inline|center|left|right) "center"
	float (yes|no) #IMPLIED
	role (logo|coverimage|ornament|authorphoto|map|artwork|photo) #IMPLIED
	orientation CDATA #IMPLIED
	page-break-before (always) #IMPLIED
     page-break-after (always) #IMPLIED
'>
<!ENTITY % paraElements "para | image">
<!ELEMENT activity (#PCDATA)>
<!ELEMENT analysis (analysisName, analysisDescription, analysisActivities?, analysisBenefits?)>
<!ATTLIST analysis
	id ID #REQUIRED
>
<!ELEMENT analysisActivities (activity+)>
<!ELEMENT analysisBenefits (benefit+)>
<!ELEMENT analysisDescription (description+)>
<!ELEMENT analysisName (#PCDATA)>
<!ELEMENT approach (#PCDATA)>
<!ELEMENT benefit (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT clientName (#PCDATA)>
<!ELEMENT projectType (#PCDATA)>
<!ELEMENT document (welcome, services, analysis*, projects, articles, biographies, faq, resources, news)>
<!ELEMENT welcome (para+ | bulletList+ | orderedList+ | unOrderedList+)+>
<!ELEMENT services (masterServiceLine+)>
<!ELEMENT articles (article)+>
<!ELEMENT article (articleHeader | articleTitle | articleSubtitle* | articleDate+ | source+ | subHead+ | para+ | bulletList+ | orderedList+ | unOrderedList+)+>
<!ATTLIST article
	shortName ID #REQUIRED
>
<!ELEMENT articleHeader (DOI+ | articleTitle+ | contributor+ | publisher+ | subject+ | source+ | format+ | category+ | description+ | xrefURL+)+>
<!ELEMENT category (#PCDATA)>
<!ELEMENT articleTitle (#PCDATA)>
<!ELEMENT articleSubtitle (#PCDATA)>
<!ELEMENT articleDate (#PCDATA)>
<!ELEMENT source (#PCDATA)>
<!ELEMENT faq (faqentry)+>
<!ELEMENT faqentry (faqquestion+, faqanswer+)>
<!ELEMENT faqquestion (%paraElements;)+>
<!ELEMENT faqanswer (%paraElements;)+>
<!ELEMENT issue (#PCDATA)>
<!ELEMENT masterServiceLine (articleHeader, masterServiceLineName, serviceLineDescription, serviceLinePerspective?, serviceLineIssue?, serviceLine*, serviceLineAnalytics?)>
<!ATTLIST masterServiceLine
	shortName ID #REQUIRED
>
<!ELEMENT masterServiceLineName (#PCDATA)>
<!ELEMENT news (pressRelease)+>
<!ATTLIST pressRelease
	shortName ID #REQUIRED
>
<!ELEMENT pressRelease (articleHeader | pressReleaseTitle | pressReleaseSubtitle* | pressReleaseDate+ | pressReleaseContact+ | Location* | subHead+ | para+ | bulletList+ | orderedList+ | unOrderedList+)+>
<!ELEMENT DOI (#PCDATA)>
<!ELEMENT contributor (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT subject (#PCDATA)>
<!ELEMENT format (#PCDATA)>
<!ELEMENT pressReleaseSubtitle (%textElements;)*>
<!ELEMENT pressReleaseDate (#PCDATA)>
<!ELEMENT Location (#PCDATA)>
<!ELEMENT pressReleaseContact (company+, name+, title?, phone?, website?, e-mail?)*>
<!ELEMENT company (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT website (#PCDATA)>
<!ELEMENT subHead (#PCDATA)>
<!ATTLIST website
	%commonAtts; 
	href CDATA #REQUIRED
>
<!ELEMENT e-mail (#PCDATA)>
<!ATTLIST e-mail
	%commonAtts; 
	href CDATA #REQUIRED
>
<!ELEMENT pressReleaseTitle (%textElements;)*>
<!ELEMENT outcome (#PCDATA)>
<!ELEMENT projects (projectList? | project+)+>
<!ELEMENT project (clientName, projectType, projectDescription)>
<!ATTLIST project
	id ID #IMPLIED
	xref IDREF #REQUIRED
>
<!ELEMENT projectDescription (#PCDATA | description)*>
<!ELEMENT projectList (#PCDATA)>
<!ATTLIST projectList
	ref IDREF #REQUIRED
>
<!ELEMENT resources (resource*)>
<!ELEMENT resource (resourceName | resourceDescription*)+>
<!ATTLIST resource
	href CDATA #REQUIRED
>
<!ELEMENT resourceName (#PCDATA)>
<!ELEMENT resourceDescription (#PCDATA | para)*>
<!ELEMENT serviceLine (serviceLineName, serviceLineDescription, serviceLineIssue?)>
<!ELEMENT serviceLineAnalytics (xrefInternal+)>
<!ELEMENT serviceLineDescription (#PCDATA | para | unOrderedList)*>
<!ELEMENT serviceLineIssue (issue+)>
<!ELEMENT serviceLineName (#PCDATA)>
<!ELEMENT serviceLinePerspective EMPTY>
<!ELEMENT xrefInternal (%textElements;)*>
<!ATTLIST xrefInternal
	xref IDREF #IMPLIED
>
<!ELEMENT biography (name, title, biodescription)>
<!ELEMENT biodescription (#PCDATA)>
<!ELEMENT biographies (biography)+>
<!ATTLIST biographies
	id ID #IMPLIED
>
<!ELEMENT para (%textElements;)*>
<!--  ****************************************************** LIST ******************************************************** -->
<!--
	element: orderedList (apply to HTML <ol / p>) 
	description: numbered list
 -->
<!ELEMENT orderedList (listItem)+>
<!ATTLIST orderedList
	type (alpha | arabic | roman) "arabic"
	case (upper | lower) #IMPLIED
	start CDATA "1"
>
<!--
	element: unOrderedList (apply to HTML <ul / p>) 
	description: un-numbered list
 -->
<!ELEMENT unOrderedList (listItem)+>
<!--
	element: BULLETLIST (apply to HTML <ul / p>) 
	description: bulleted list
 -->
<!ELEMENT bulletList (listItem)+>
<!--
	element:  (apply to HTML <li / p>) 
	description: list item
 -->
<!ELEMENT listItem (%textElements; | %lists;)*>
<!ELEMENT superscript (%textElements; | %anchors;)*>
<!ELEMENT subscript (%textElements; | %anchors;)*>
<!ELEMENT italic (%textElements; | %anchors;)*>
<!ELEMENT bold (%textElements;)*>
<!ELEMENT smallCaps (%textElements;)*>
<!ELEMENT underline (%textElements;)*>
<!-- general elements -->
<!ELEMENT a (#PCDATA)>
<!ATTLIST a
	id ID #REQUIRED
>
<!ELEMENT xrefURL (#PCDATA)>
<!ATTLIST xrefURL
	%commonAtts; 
	href CDATA #REQUIRED
>
<!--  ****************************************************** IMAGES ******************************************************** -->
<!-- element: IMAGE -->
<!ELEMENT image (caption)>
<!ELEMENT caption (#PCDATA)>
<!ATTLIST image
	%imageAtts; 
>
