TMG Site.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by Ken Brooks (Cengage Learning) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DOI">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="10.1220/pr20"/>
				<xs:enumeration value="10.1220/pr23"/>
				<xs:enumeration value="10.1335/0000000001"/>
				<xs:enumeration value="10.1335/0000000002"/>
				<xs:enumeration value="10.1335/0000000003"/>
				<xs:enumeration value="10.1335/0000000004"/>
				<xs:enumeration value="10.1335/0000000005"/>
				<xs:enumeration value="10.1335/0000000006"/>
				<xs:enumeration value="10.1335/0000000007"/>
				<xs:enumeration value="10.1335/0000000008"/>
				<xs:enumeration value="10.1335/0000000009"/>
				<xs:enumeration value="10.1335/0000000011"/>
				<xs:enumeration value="10.1335/0000000012"/>
				<xs:enumeration value="10.1335/0000000013"/>
				<xs:enumeration value="10.1335/0000000014"/>
				<xs:enumeration value="10.1335/0000000016"/>
				<xs:enumeration value="10.1335/0000000017"/>
				<xs:enumeration value="10.1335/0000000018"/>
				<xs:enumeration value="10.1335/0000000019"/>
				<xs:enumeration value="10.1335/0000000020"/>
				<xs:enumeration value="10.1335/0000000021"/>
				<xs:enumeration value="10.1335/0000000022"/>
				<xs:enumeration value="10.1335/0000000023"/>
				

				<xs:enumeration value="10.13350000000050"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Location">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="New York, NY"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="article">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="articleHeader"/>
			</xs:sequence>
			<xs:attribute name="shortName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="generate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="no"/>
						<xs:enumeration value="yes"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="articleHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subject" minOccurs="0"/>
				<xs:element ref="DOI"/>
				<xs:element ref="articleTitle" minOccurs="0"/>
				<xs:element ref="contributor" minOccurs="0"/>
				<xs:element ref="publisher" minOccurs="0"/>
				<xs:element ref="subject" minOccurs="0"/>
				<xs:element ref="format" minOccurs="0"/>
				<xs:element ref="source" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="category" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="idref" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="xrefURL" minOccurs="0"/>
				<xs:element name="sourceURL" minOccurs="0">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:anyURI">
								<xs:attribute name="href" type="xs:anyURI"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="articleTitle">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bold">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="David Sidman, CEO of Content Directions"/>
				<xs:enumeration value="Innovative Publishing Solutions"/>
				<xs:enumeration value="Ken Brooks, President of Publishing  Dimensions"/>
				<xs:enumeration value="composition services"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="bulletList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="clientName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1stBooksLibrary"/>
				<xs:enumeration value="AIPC"/>
				<xs:enumeration value="American Bible Society"/>
				<xs:enumeration value="B&amp;N"/>
				<xs:enumeration value="BDD"/>
				<xs:enumeration value="Cengage Learning"/>
				<xs:enumeration value="HarperCollins"/>
				<xs:enumeration value="Houghton Mifflin"/>
				<xs:enumeration value="Lightning Source"/>
				<xs:enumeration value="LightningSource"/>
				<xs:enumeration value="MIT Press"/>
				<xs:enumeration value="OeBF"/>
				<xs:enumeration value="PDL"/>
				<xs:enumeration value="PRISM"/>
				<xs:enumeration value="S&amp;S"/>
				<xs:enumeration value="Stone House Press"/>
				<xs:enumeration value="University of Chicago Press"/>
				<xs:enumeration value="Wiley"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Content Directions, Inc."/>
				<xs:enumeration value="Paraview Publishing"/>
				<xs:enumeration value="Tor/Forge and St. Martin's Press (Holtzbrinck Publishing)"/>
				<xs:enumeration value="Treadwell Media Group"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="contributor">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Kenneth M. Brooks, Jr."/>
				<xs:enumeration value="Treadwell Media Group"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="welcome">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element ref="para"/>
							<xs:element ref="bulletList"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="services">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="masterServiceLine" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="projects">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="project" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="articles">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="article" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="biographies">
					<xs:complexType>
						<xs:sequence maxOccurs="unbounded">
							<xs:element name="biography">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="name"/>
										<xs:element ref="title"/>
										<xs:element name="biodescription" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="faq">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="faqentry" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="resources">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="resource" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="categories">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="concept" maxOccurs="unbounded">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="preferredLabel"/>
										<xs:element name="altLabel" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="definition"/>
										<xs:element name="examples"/>
										<xs:element name="bt" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="idref" type="xs:IDREF" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="nt" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="idref" type="xs:IDREF" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="rt" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="idref" type="xs:IDREF" use="required"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="subjectCategory" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="useFor" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="idref" type="xs:IDREF"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="use" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="idref" type="xs:IDREF"/>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="id" type="xs:ID" use="required"/>
									<xs:attribute name="seq" type="xs:integer" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="e-mail">
		<xs:complexType mixed="true">
			<xs:attribute name="href" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="http://www.ebookyes.com"/>
						<xs:enumeration value="http://www.treadwellmedia.com"/>
						<xs:enumeration value="mailto:alex@paraview.com"/>
						<xs:enumeration value="mailto:kbrooks@treadwellmedia.com"/>
						<xs:enumeration value="mailto:taridas@contentdirections.com"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="faqanswer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="faqentry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="faqquestion"/>
				<xs:element ref="faqanswer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="faqquestion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="format" type="xs:string"/>
	<xs:element name="italic">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A Deepness in the Sky"/>
				<xs:enumeration value="A Fire Upon the Deep"/>
				<xs:enumeration value="A Fire Upon the Deep Special Edition eBook"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="listItem">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="xrefURL"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="masterServiceLine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="articleHeader"/>
				<xs:element ref="masterServiceLineName"/>
				<xs:element ref="serviceLineDescription"/>
			</xs:sequence>
			<xs:attribute name="shortName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="custompublishing"/>
						<xs:enumeration value="distribution"/>
						<xs:enumeration value="econsulting"/>
						<xs:enumeration value="marketing"/>
						<xs:enumeration value="pconsulting"/>
						<xs:enumeration value="rights"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="masterServiceLineName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Custom Publishing"/>
				<xs:enumeration value="DigitalGalley Book Marketing Services"/>
				<xs:enumeration value="Quiet Island Books eBook and POD Distribution Services"/>
				<xs:enumeration value="Rights Conversion Services"/>
				<xs:enumeration value="Traditional Publishing Consulting Services"/>
				<xs:enumeration value="ePublishing Consulting Services"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Alex Dake"/>
				<xs:enumeration value="Jeff Gomez"/>
				<xs:enumeration value="Ken Brooks"/>
				<xs:enumeration value="Kenneth M. Brooks, Jr."/>
				<xs:enumeration value="Tina Aridas"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="para">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="bold"/>
				<xs:element ref="xrefURL"/>
				<xs:element ref="projectList"/>
				<xs:element ref="italic"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="phone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="(212) 319-0768"/>
				<xs:enumeration value="(212) 674-5151 ext. 339"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pressRelease">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="articleHeader"/>
				<xs:element ref="pressReleaseTitle"/>
				<xs:element ref="pressReleaseDate"/>
				<xs:element ref="pressReleaseContact"/>
				<xs:element ref="Location"/>
				<xs:element ref="para"/>
				<xs:element ref="subHead"/>
				<xs:element ref="pressReleaseSubtitle"/>
				<xs:element ref="unOrderedList"/>
				<xs:element ref="bulletList"/>
			</xs:choice>
			<xs:attribute name="shortName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="compositionrelease"/>
						<xs:enumeration value="fire"/>
						<xs:enumeration value="paraview"/>
						<xs:enumeration value="pdlcdi"/>
						<xs:enumeration value="quiet"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="pressReleaseContact">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="company"/>
				<xs:element ref="name"/>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="phone" minOccurs="0"/>
				<xs:element ref="website" minOccurs="0"/>
				<xs:element ref="e-mail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pressReleaseDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="February 28, 2003"/>
				<xs:enumeration value="January 29, 2003"/>
				<xs:enumeration value="March 11, 2003"/>
				<xs:enumeration value="May 1, 2002"/>
				<xs:enumeration value="May 5, 2003"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pressReleaseSubtitle">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Companies Will Use Content Directions DOI Registration Service."/>
				<xs:enumeration value="Joint capabilities will provide publishers with an easier and faster way to adopt DOI to enhance content discoverability, increase web-based sales and improve customer service"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pressReleaseTitle" type="xs:string"/>
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="clientName"/>
				<xs:element name="category" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="idref" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="projectType"/>
				<xs:element ref="projectDescription"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="projectDescription">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="projectList">
		<xs:complexType>
			<xs:attribute name="idref" type="xs:IDREF" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="projectType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Accounts Receivable improvement"/>
				<xs:enumeration value="Bibliographic operations management"/>
				<xs:enumeration value="Call center productivity"/>
				<xs:enumeration value="Canadian physical distribution assessment"/>
				<xs:enumeration value="Channel inventory strategy"/>
				<xs:enumeration value="Comparative Bible reading"/>
				<xs:enumeration value="Consignment inventory evaluation"/>
				<xs:enumeration value="Content and metadata archive design"/>
				<xs:enumeration value="Custom cookbook application"/>
				<xs:enumeration value="Customer perception assessment"/>
				<xs:enumeration value="Department consolidation"/>
				<xs:enumeration value="Establish corporate purchasing department"/>
				<xs:enumeration value="In-store print-on-demand assessment"/>
				<xs:enumeration value="International textbook diversion assessment"/>
				<xs:enumeration value="Key account strategy implementation"/>
				<xs:enumeration value="Multiple language Scripture tool (diglot)"/>
				<xs:enumeration value="POD expert witness"/>
				<xs:enumeration value="POD implementation"/>
				<xs:enumeration value="Product standardization"/>
				<xs:enumeration value="Production cycle time improvement"/>
				<xs:enumeration value="Production efficiency improvement"/>
				<xs:enumeration value="Rights DTD definition"/>
				<xs:enumeration value="Rights Database Design"/>
				<xs:enumeration value="Rights Management DTD development"/>
				<xs:enumeration value="Rights Management Strategy"/>
				<xs:enumeration value="Rights Management data and functional modeling"/>
				<xs:enumeration value="Rights Management systems design"/>
				<xs:enumeration value="SAP implementation"/>
				<xs:enumeration value="Standards body participation"/>
				<xs:enumeration value="Standards development"/>
				<xs:enumeration value="Terms of Sale evaluation"/>
				<xs:enumeration value="Transportation cost reduction"/>
				<xs:enumeration value="XML readiness assessment"/>
				<xs:enumeration value="ePublishing strategy"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="publisher" type="xs:string"/>
	<xs:element name="resource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="category" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="idref" type="xs:IDREF" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element ref="resourceName"/>
				<xs:element ref="resourceDescription"/>
			</xs:sequence>
			<xs:attribute name="type" use="optional" form="qualified">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="retailer"/>
						<xs:enumeration value="distributor"/>
						<xs:enumeration value="ebooks"/>
						<xs:enumeration value="fairs"/>
						<xs:enumeration value="networking"/>
						<xs:enumeration value="ebookreading"/>
						<xs:enumeration value="POD"/>
						<xs:enumeration value="DAD"/>
						<xs:enumeration value="conversion"/>
						<xs:enumeration value="composition"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="href" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="resourceDescription">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="resourceName">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="serviceLineDescription">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="para"/>
				<xs:element ref="unOrderedList"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Book Expo America (BEA)"/>
				<xs:enumeration value="Digital Content Management for Publishing conference on July 24, 2001."/>
				<xs:enumeration value="Digital Smart Factory Panel Discussion, June 24, 2003"/>
				<xs:enumeration value="Discussion notes from Publishers Lunch, New York, June 20, 2001"/>
				<xs:enumeration value="PIRA Digital Print World conference, London, on February 13, 2001"/>
				<xs:enumeration value="Panel Discussion, BookExpo America, May 30, 2003"/>
				<xs:enumeration value="Presentation given at Seybold San Francisco, 2001 on September 27, 2001"/>
				<xs:enumeration value="Publishing 2001: Attitudes to Technological Change, 2001, BPI Communications. "/>
				<xs:enumeration value="Supply Chain Seminar, Frankfurt Book Fair, on October 9, 2001"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subHead">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="About Content Directions, Inc. (CDI)"/>
				<xs:enumeration value="About Tor/Forge (Holtzbrinck Publishing):"/>
				<xs:enumeration value="About Treadwell Media Group"/>
				<xs:enumeration value="About Treadwell Media Group:"/>
				<xs:enumeration value="About the Digital Object Identifier (DOI)"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subject" type="xs:string"/>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="President"/>
				<xs:enumeration value="eBook and Print on Demand Manager, Tor/Forge Books and St. Martin's Press"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="unOrderedList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="listItem" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="website">
		<xs:complexType mixed="true">
			<xs:attribute name="href" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mailto:jeff.gomez@stmartins.com"/>
						<xs:enumeration value="mailto:kbrooks@treadwellmedia.com"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="xrefURL">
		<xs:complexType mixed="true">
			<xs:attribute name="href" type="xs:anyURI" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
